<div class="container">
    <div class="row justify-content-center">
        <div class="col bg-light p-3 m-mda-3 px-md-5">
            <h1>Categorías de crímenes</h1>

            <p>
                Hay muchas formas de categorizar los crímenes. Esta es una guía para ayudarte a escoger 
                la categoría más adecuada para el crimen que deseas reportar.
            </p>

            <h2>Crímenes contra la propiedad</h2>
            <dl class="row">
                <dt class="col-sm-3">Carro robado</dt>
                <dd class="col-sm-9">
                    Cuando el carro es robado sin ninguna interacción con el delincuente. Por ejemplo: 
                    el carro se dejó en un parqueo y al regresar ya no está.
                </dd>

                <dt class="col-sm-3">Carro robado con fuerza</dt>
                <dd class="col-sm-9">
                    Cuando el carro es robado por un delincuente que amenaza a la víctima. Por ejemplo:
                    el delincuente tiene un arma con la cual amenaza a la víctima para despojarla del carro.
                </dd>

                <dt class="col-sm-3">Robo a objetos en carro</dt>
                <dd class="col-sm-9">
                    Cuando objetos dentro del carro son sustraídos sin interacción con el delincuente.
                    Por ejemplo: una laptop es sustraída de un vehículo que está parqueado en la calle.
                </dd>

                <dt class="col-sm-3">Asalto</dt>
                <dd class="col-sm-9">
                    Robo o intento de robo a la propiedad en una persona con uso de armas. Por ejemplo:
                    Un delincuente roba la bolsa de una víctima con una pistola.
                </dd>

                <dt class="col-sm-3">Robo forzado</dt>
                <dd class="col-sm-9">
                    Robo o intento de robo a la propiedad en una persona con uso de fuerza. Por ejemplo:
                    un delincuente roba una bolsa de la víctima arrancándola por la fuerza.
                </dd>

                <dt class="col-sm-3">Robo sin fuerza</dt>
                <dd class="col-sm-9">
                    Robo o intento de robo a la propiedad de una persona sin el uso de fuerza. Por ejemplo:
                    un delincuente roba el celular dentro de una bolsa mientras la víctima está distraída.
                </dd>

                <dt class="col-sm-3">Asalto a casa</dt>
                <dd class="col-sm-9">
                    Cuando el delincuente roba o intenta robar objetos de una casa con uso de armas. Por ejemplo:
                    Delincuente utiliza pistola para amenazar a los ocupantes de una casa y forzar su ingreso.
                </dd>

                <dt class="col-sm-3">Robo a casa</dt>
                <dd class="col-sm-9">
                    Cuando el delincuente roba o intenta robar objetos en una casa sin uso de armas. Por ejemplo:
                    Delincuente salta una pared y roba una bicicleta del jardín sin interactuar con ningún ocupante.
                </dd>

                <dt class="col-sm-3">Extorsión</dt>
                <dd class="col-sm-9">
                    Cuando el delincuente obliga a la víctima con amenaza de violencia o intimidación a entregar su patrimonio.
                    Por ejemplo: un marero amenaza a un comerciante con un pago de "seguridad".
                </dd>
            </dl>

            <h2>Crímenes contra personas</h2>

            <dl class="row">
                <dt class="col-sm-3">Asesinato</dt>
                <dd class="col-sm-9">
                    Cuando hay una víctima mortal del crimen, incluso si el acto inicial era otro. Por ejemplo:
                    En un intento de robo, la víctima se opone y el delincuente dispara y mata a la víctima.
                </dd>

                <dt class="col-sm-3">Violación</dt>
                <dd class="col-sm-9">
                    Consiste en tener relaciones sexuales con una persona sin su consentimiento o con un 
                    consentimiento obtenido mediante la violencia o la amenaza.
                </dd>

                <dt class="col-sm-3">Acoso</dt>
                <dd class="col-sm-9">
                    Consiste en que una persona acecha y molesta a otra insistentemente perturbando su vida diaria y su libertad.
                </dd>

                <dt class="col-sm-3">Acoso sexual</dt>
                <dd class="col-sm-9">
                    Intimidación o acoso de naturaleza sexual, promesas no deseadas o inapropiadas a cambio de favores sexuales.
                </dd>

                <dt class="col-sm-3">Secuestro</dt>
                <dd class="col-sm-9">
                    Privación de libertad a la víctima, exigiendo, a cambio de su liberación, el cumplimiento de alguna condición.
                    Por ejemplo: el delincuente contacta a la familia de la víctima para coordinar un pago a cambio de su liberación.
                </dd>
            </dl>
        </div>
    </div>
</div>