<h1>Categories de crimenes</h1>

<p>
    Hay muchas formas de categorizar los crímenes. Esta es una guía para ayudarte a escoger 
    la categoría más adecuada para el crimes que deseas reportar.
</p>

<h2>Crimenes contra la propiedad</h2>
<dl>
    <dt>Carro robado</dt>
    <dd>
        Cuando el carro es robado sin ninguna interacción con el delincuente. Por ejemplo: 
        el carro se dejó en un parqueo y al regresar ya no está.
    </dd>

    <dt>Carro robado con fuerza</dt>
    <dd>
        Cuando el carro es robado por un delicuente que amenaza a la víctima. Por ejemplo:
        el delicuente tiene un arma con la cual amenaza a la víctima para despojarla del carro.
    </dd>

    <dt>Robo a objetos en carro</dt>
    <dd>
        Cuando objetos dentro del carro son sustraidos sin interacción con el delicuente.
        Por ejemplo: una laptop es sustraida de un vehiculo que está parqueado en la calle.
    </dd>

    <dt>Asalto</dt>
    <dd>
        Robo o intento de robo a la propiedad en una persona con uso de armas. Por ejemplo:
        Un delicuente roba la bolsa de una victima con una pistola.
    </dd>

    <dt>Robo forzado</dt>
    <dd>
        Robo o intento de robo a la propiedad en una persona con uso de fuerza. Por ejemplo:
        un deliciente roba una bolsa de la víctima arracandola por la fuerza.
    </dd>

    <dt>Robo sin fuerza</dt>
    <dd>
        Robo o intento de robo a la propiedad de una persona sin el uso de fuerza. Por ejemplo:
        un delicuente roba el celular dentro de una bolsa mientras la víctima está distraida.
    </dd>

    <dt>Asalto a casa</dt>
    <dd>
        Cuando el delicuente roba o intenta robar objectos de una casa con uso de armas. Por ejemplo:
        Delicuente utiliza pistola para amenazar a los ocupantes de una casa y forzar su ingreso.
    </dd>

    <dt>Robo a casa</dt>
        Cuando el delicuente roba o intentar robar objectos en una casa sin uso de armas. Por ejemplo:
        Delicuente salta una pared y roba una bicicleta del jardin sin interactuar con ningún ocupante.
    <dd></dd>

    <dt>Extorsión</dt>
    <dd>
        Cuando el delicuente obliga a la víctima con amenaza de violencia o intimidación a entrgar su patrimonio.
        Por ejemplo: un marero amenaza a un comerciante con un pago de "seguridad".
    </dd>
</dl>

<h2>Crimenes contra personas</h2>

<dl>
    <dt>Asesinato</dt>
    <dd>
        Cuando hay una víctima mortal del crimen, incluso si el acto inicial era otro. Por ejemplo:
        En un intento de robo, la víctima de opone y el delicuente dispara y mata a la víctima.
    </dd>

    <dt>Violación</dt>
    <dd>
        Consiste en tener relaciones sexuales con una persona sin su consentimiento o con un 
        consentimiento obtenido mediante la violencia o la amenaza.
    </dd>

    <dt>Acoso</dt>
    <dd>
        Consiste en que una persona acecha y molesta a otra insistentemente perturbando su vida diaria y su libertad.
    </dd>

    <dt>Acoso sexual</dt>
    <dd>
        Intimidación o acoso de naturaleza sexual, promesas no deseadas o inapropiadas a cambio de favores sexuales.
    </dd>
</dl>