<div id="map-container">
    <div id="map"></div>

    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content">
            <div id="popup-title">
            </div>
            <%= link_to 'Más detalles >', crime_path(1), id: 'popup-link' %>
        </div>
    </div>

    <%= link_to '+', new_crime_path, class: "new-crime" %>
</div>